<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关键词</title>
    <!-- 引入 layui.css -->
    <link href="..\static\layui\css\layui.css" rel="stylesheet" type="text/css">
    <link href="../static/css/首页.css" rel="stylesheet" type="text/css">
    <!-- 引入 layui.js -->
    <script src="layui/layui.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
    <script src=".\static\layui\layui.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
<div class="layui-row">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo layui-hide-xs layui-bg-black" style="width:240px">基于百度指数养老需求分析系统</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                    <a href="javascript:;">
                        <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                        tester
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">Login</a></dd>
                        <dd><a href="javascript:;">Exit</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-more-vertical"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black"  style="width:240px">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域 -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item"><a href="热点话题1.html" style="font-size:17px;">养老热点话题</a></li>
                    <li class="layui-nav-item"><a href="指数预测1.html" style="font-size:17px;">养老指数预测</a></li>
                    <li class="layui-nav-item"><a href="关键词.html" style="font-size:17px;">养老关键词</a></li>
                    <li class="layui-nav-item"><a href="年龄1.html" style="font-size:17px;">搜索用户年龄</a></li>
                    <li class="layui-nav-item"><a href="地域分布1.html" style="font-size:17px;">养老地域分布</a></li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->

    <style>.box {  } </style>
        
    <div class="box">
                <div id="gjcdid1" class="chart-container" style="position: absolute; width: 867px; height: 250px; top: 220px; left: 577px;"></div>
    <script>
        var chart_gjcdid1 = echarts.init(
            document.getElementById('gjcdid1'), 'white', {renderer: 'canvas'});
        var option_gjcdid1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "\u5173\u952e\u8bcd",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                25,
                66
            ],
            "data": [
                {
                    "name": "\u4e2d\u56fd\u517b\u8001\u73b0\u72b6",
                    "value": 96,
                    "textStyle": {
                        "color": "rgb(2,59,1)"
                    }
                },
                {
                    "name": "\u4e2d\u56fd\u517b\u8001\u95ee\u9898",
                    "value": 28,
                    "textStyle": {
                        "color": "rgb(69,38,51)"
                    }
                },
                {
                    "name": "\u4e36\u600e\u4e48\u6253",
                    "value": 140,
                    "textStyle": {
                        "color": "rgb(4,106,79)"
                    }
                },
                {
                    "name": "\u517b\u8001\u4fdd\u9669",
                    "value": 41646,
                    "textStyle": {
                        "color": "rgb(47,32,77)"
                    }
                },
                {
                    "name": "\u517b\u8001\u4fdd\u9669\u9886\u53d6\u8ba1\u7b97",
                    "value": 30,
                    "textStyle": {
                        "color": "rgb(62,123,154)"
                    }
                },
                {
                    "name": "\u517b\u8001\u62a4\u7406",
                    "value": 606,
                    "textStyle": {
                        "color": "rgb(45,59,52)"
                    }
                },
                {
                    "name": "\u517b\u8001\u65b0\u95fb",
                    "value": 58,
                    "textStyle": {
                        "color": "rgb(21,12,31)"
                    }
                },
                {
                    "name": "\u517b\u8001\u793e\u533a",
                    "value": 18870,
                    "textStyle": {
                        "color": "rgb(86,84,63)"
                    }
                },
                {
                    "name": "\u517b\u8001\u7f51",
                    "value": 348,
                    "textStyle": {
                        "color": "rgb(152,124,98)"
                    }
                },
                {
                    "name": "\u517b\u8001\u7f51\u7ad9",
                    "value": 96,
                    "textStyle": {
                        "color": "rgb(3,148,14)"
                    }
                },
                {
                    "name": "\u517b\u8001\u8bbe\u8ba1",
                    "value": 16,
                    "textStyle": {
                        "color": "rgb(15,77,68)"
                    }
                },
                {
                    "name": "\u517b\u8001\u9662",
                    "value": 13394,
                    "textStyle": {
                        "color": "rgb(24,15,152)"
                    }
                },
                {
                    "name": "\u519c\u6751\u533b\u7597",
                    "value": 308,
                    "textStyle": {
                        "color": "rgb(104,56,53)"
                    }
                },
                {
                    "name": "\u521d\u65b0\u517b\u8001",
                    "value": 18,
                    "textStyle": {
                        "color": "rgb(155,112,111)"
                    }
                },
                {
                    "name": "\u5c45\u5bb6\u517b\u8001",
                    "value": 10938,
                    "textStyle": {
                        "color": "rgb(149,2,99)"
                    }
                },
                {
                    "name": "\u5e7f\u5ddeSEO",
                    "value": 116,
                    "textStyle": {
                        "color": "rgb(40,56,16)"
                    }
                },
                {
                    "name": "\u5e7f\u5ddeSEO\u4f18\u5316",
                    "value": 130,
                    "textStyle": {
                        "color": "rgb(100,26,6)"
                    }
                },
                {
                    "name": "\u5eb7\u517b",
                    "value": 2690,
                    "textStyle": {
                        "color": "rgb(29,0,128)"
                    }
                },
                {
                    "name": "\u5efa\u56fd\u7537\u79d1",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(86,30,141)"
                    }
                },
                {
                    "name": "\u6d4e\u5357\u517b\u8001",
                    "value": 22,
                    "textStyle": {
                        "color": "rgb(148,57,116)"
                    }
                },
                {
                    "name": "\u76c8\u521b\u56de\u6536",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(120,150,75)"
                    }
                },
                {
                    "name": "\u793e\u4fdd\u517b\u8001",
                    "value": 124,
                    "textStyle": {
                        "color": "rgb(112,75,154)"
                    }
                },
                {
                    "name": "\u8001\u4eba\u8dcc\u5012",
                    "value": 66,
                    "textStyle": {
                        "color": "rgb(26,70,48)"
                    }
                },
                {
                    "name": "\u8001\u5e74\u7f51",
                    "value": 850,
                    "textStyle": {
                        "color": "rgb(139,26,38)"
                    }
                },
                {
                    "name": "\u8fd9\u662f\u6211\u4eec\u6700\u540e\u4e00\u4ee3",
                    "value": 18,
                    "textStyle": {
                        "color": "rgb(49,122,3)"
                    }
                },
                {
                    "name": "\u90d1\u5ddeSEO",
                    "value": 84,
                    "textStyle": {
                        "color": "rgb(51,26,77)"
                    }
                },
                {
                    "name": "\u90d1\u5ddeSEO\u4f18\u5316",
                    "value": 122,
                    "textStyle": {
                        "color": "rgb(113,152,105)"
                    }
                },
                {
                    "name": "\u9655\u897f\u517b\u8001",
                    "value": 2288,
                    "textStyle": {
                        "color": "rgb(55,160,124)"
                    }
                },
                {
                    "name": "\u9890\u5bb6\u517b\u8001",
                    "value": 16,
                    "textStyle": {
                        "color": "rgb(37,84,68)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5173\u952e\u8bcd",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false,
            "textStyle": {
                "fontSize": 30
            }
        }
    ]
};
        chart_gjcdid1.setOption(option_gjcdid1);
    </script>
<br/>    </div>
    <script>
            $('#gjcdid1').css('border-style', 'dashed').css('border-width', '0px');$("#gjcdid1>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#gjcdid1'), function() { chart_gjcdid1.resize()});
            var charts_id = ['gjcdid1'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
            <div style="padding: 20px;">
                <h2 style="margin-left:60px;">养老关键词分析</h2>
            </div>
            <div class="layui-bg-gray" style="padding: 16px;margin-left:60px;width:92%;">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header">挂号</div>
                            <div class="layui-card-body">
                                <img src="../static/img/挂号.png" style="width:200px;height:220px;padding-left:50px">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header">医疗工具</div>
                            <div class="layui-card-body">
                                <img src="../static/img/医疗工具.png" style="width:200px;height:220px;padding-left:50px">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header">CT解读</div>
                            <div class="layui-card-body">
                                <img src="../static/img/CT解读.png" style="width:200px;height:220px;padding-left:50px">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header">康复运动</div>
                            <div class="layui-card-body">
                                <img src="../static/img/康复运动.png" style="width:200px;height:220px;padding-left:50px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin:50px 0px 0px 45%;">  <a href="./gjc.html">关键字</a> </div>


        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
        </div>
    </div>
</div>
</body>
</html>