<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>热点话题</title>
    <!-- 引入 layui.css -->
    <link href="..\static\layui\css\layui.css" rel="stylesheet" type="text/css">
    <link href="../static/css/首页.css" rel="stylesheet" type="text/css">
    <!-- 引入 layui.js -->
    <script src="layui/layui.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
    <script src=".\static\layui\layui.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
<div class="layui-row">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo layui-hide-xs layui-bg-black" style="width:240px">基于百度指数养老需求分析系统</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                    <a href="javascript:;">
                        <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                        tester
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">Login</a></dd>
                        <dd><a href="javascript:;">Exit</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-more-vertical"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black"  style="width:240px">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域 -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item"><a href="热点话题1.html" style="font-size:17px;">养老热点话题</a></li>
                    <li class="layui-nav-item"><a href="指数预测1.html" style="font-size:17px;">养老指数预测</a></li>
                    <li class="layui-nav-item"><a href="关键词.html" style="font-size:17px;">养老关键词</a></li>
                    <li class="layui-nav-item"><a href="年龄1.html" style="font-size:17px;">搜索用户年龄</a></li>
                    <li class="layui-nav-item"><a href="地域分布1.html" style="font-size:17px;">养老地域分布</a></li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->

    <style>.box {  } </style>
        
    <div class="box">
                <div id="ww1" class="chart-container" style="position: absolute; width: 1379px; height: 700px; top: 40px; left: 150px;"></div>
    <script>
        var chart_ww1 = echarts.init(
            document.getElementById('ww1'), 'white', {renderer: 'canvas'});
        var option_ww1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u70ed\u70b9",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "YILAN",
                    82
                ],
                [
                    "\u5065\u5eb7\u7518\u8083",
                    570
                ],
                [
                    "\u517b\u5361",
                    112
                ],
                [
                    "\u517b\u8001\u4ea7\u4e1a",
                    784
                ],
                [
                    "\u517b\u8001\u4fdd\u9669\u7f34\u8d39",
                    326
                ],
                [
                    "\u517b\u8001\u653f\u7b56",
                    32496
                ],
                [
                    "\u517b\u8001\u65b0\u95fb",
                    126
                ],
                [
                    "\u517b\u8001\u670d\u52a1",
                    2502
                ],
                [
                    "\u517b\u8001\u673a\u6784",
                    109152
                ],
                [
                    "\u517b\u8001\u793e\u533a",
                    858
                ],
                [
                    "\u517b\u8001\u7f51",
                    450
                ],
                [
                    "\u517b\u8001\u7f51\u7ad9",
                    46
                ],
                [
                    "\u517b\u8001\u82f1\u6587",
                    452
                ],
                [
                    "\u517b\u8001\u95ee\u9898",
                    420
                ],
                [
                    "\u517b\u8001\u9662\u8bbe\u8ba1",
                    446
                ],
                [
                    "\u5317\u4eac\u517b\u8001",
                    134
                ],
                [
                    "\u53d1\u5149\u7684\u7ea2\u5b57\u82f1\u96c4\u5e16",
                    2
                ],
                [
                    "\u56fe\u7247\u4e0b\u8f7d\u514d\u8d39",
                    20
                ],
                [
                    "\u5927\u5bb6\u517b\u8001",
                    812
                ],
                [
                    "\u5eb7\u517b",
                    3568
                ],
                [
                    "\u65b0\u6d6a\u533b\u836f",
                    44
                ],
                [
                    "\u793e\u533a\u5c45\u5bb6\u517b\u8001",
                    338
                ],
                [
                    "\u7f51\u7edc\u4fdd\u9669",
                    64
                ],
                [
                    "\u804c\u5de5\u517b\u8001",
                    154
                ],
                [
                    "\u804c\u5de5\u9000\u4f11\u5e74\u9f84",
                    468
                ],
                [
                    "\u814b\u81ed\u6302\u4ec0\u4e48\u79d1",
                    110394
                ],
                [
                    "\u8fdc\u6d0b\u693f\u8431\u8302",
                    54
                ],
                [
                    "\u957f\u5bff\u65f6\u4ee3",
                    198
                ],
                [
                    "\u9886\u7ea2\u5305",
                    19144
                ],
                [
                    "\u9890\u5bb6\u517b\u8001",
                    12
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u70ed\u70b9"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "YILAN",
                "\u5065\u5eb7\u7518\u8083",
                "\u517b\u5361",
                "\u517b\u8001\u4ea7\u4e1a",
                "\u517b\u8001\u4fdd\u9669\u7f34\u8d39",
                "\u517b\u8001\u653f\u7b56",
                "\u517b\u8001\u65b0\u95fb",
                "\u517b\u8001\u670d\u52a1",
                "\u517b\u8001\u673a\u6784",
                "\u517b\u8001\u793e\u533a",
                "\u517b\u8001\u7f51",
                "\u517b\u8001\u7f51\u7ad9",
                "\u517b\u8001\u82f1\u6587",
                "\u517b\u8001\u95ee\u9898",
                "\u517b\u8001\u9662\u8bbe\u8ba1",
                "\u5317\u4eac\u517b\u8001",
                "\u53d1\u5149\u7684\u7ea2\u5b57\u82f1\u96c4\u5e16",
                "\u56fe\u7247\u4e0b\u8f7d\u514d\u8d39",
                "\u5927\u5bb6\u517b\u8001",
                "\u5eb7\u517b",
                "\u65b0\u6d6a\u533b\u836f",
                "\u793e\u533a\u5c45\u5bb6\u517b\u8001",
                "\u7f51\u7edc\u4fdd\u9669",
                "\u804c\u5de5\u517b\u8001",
                "\u804c\u5de5\u9000\u4f11\u5e74\u9f84",
                "\u814b\u81ed\u6302\u4ec0\u4e48\u79d1",
                "\u8fdc\u6d0b\u693f\u8431\u8302",
                "\u957f\u5bff\u65f6\u4ee3",
                "\u9886\u7ea2\u5305",
                "\u9890\u5bb6\u517b\u8001"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": " ",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_ww1.setOption(option_ww1);
    </script>
<br/>    </div>
    <script>
            $('#ww1').css('border-style', 'dashed').css('border-width', '0px');$("#ww1>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#ww1'), function() { chart_ww1.resize()});
            var charts_id = ['ww1'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
            <div style="padding: 20px;">
                <h2 style="margin-left:60px;">养老热点话题</h2>
            </div>



<!--            <div style="margin:50px 0px 0px 15%;">  <b>关键字放在这里！！！</b>  </div>-->

        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
        </div>
    </div>
</div>
</body>
</html>